bert-score==0.3.13
datasets==5.0.1
huggingface_hub==1.29.0
joblib==1.5.2
langchain-ollama==0.2.1
Levenshtein==0.27.1
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
psutil==7.1.0
pynvml==13.0.1
PyYAML==6.0.2
rouge_score==0.1.2
scikit-learn==1.7.2
scipy==1.16.1
sentence-transformers==6.0.0
torch==2.5.1+cu121
transformers==5.16.1
